@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* reset */
*{margin: 0; padding: 0;}
li{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
}
button{
    background: transparent;
    border: none;
    outline: none;
}


body{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #333;
}


/* Header */
.header{
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #e5e5e5;
}

.innerHeader{
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}
.innerHeader .logo{
    float: left;
    padding-top: 27px;
}

.search{
    float: left;
    width: 250px;
    height: 40px;
    padding-left: 30px;
    /* top: -40px; */
    margin-top: 30px;
}
.search input[type=text]{
    display: block;
    outline: none;
    width: 250px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #eee;
}
.search .fa{
    position: absolute;
    font-size: 26px;
    transform: translate(215px, -33px);
    color: #666;
    cursor: pointer;
}
.search input::placeholder{
    transition: 0.3s;
}
.search input:focus::placeholder{
    opacity: 0;
}

.top_nav{
    position: absolute;
    display: block;
    float: right;
    margin: 0 auto;
    font-size: 13px;
    width: inherit;
}
.inner_nav{
    float: right;
    position: absolute;
    right: 0;
    top: 40px;
}
.inner_nav li{
    float: right;
    text-align: center;
    margin-right: 15px;
}

.inner_nav::after{
    content: '';
    display: block;
    clear: both;
}

/* menu */
.menu{
    position: relative;
    border-top: 1px solid #e5e5e5;
    font-size: 16px;
    color: #333;
}
.inner_wrap{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.category{
    position: absolute;
    left: 0;
    top: 0;
    width: 110px;
    height: 50px;
    /* background: transparent;
    border: none; */
    cursor: pointer;
    font: inherit;
    font-weight: 400;
    margin-left: 10px;
}
.category:before{
    content: '';
    display: inline-block;
}

.trigger{
    position: absolute;
    width: 20px;
    height: 15px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}


/* 메뉴버튼 */
.trigger span{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #333;
    transition: 0.3s;
}
.trigger span:nth-child(1){
    top: 0;
}
.trigger span:nth-child(2){
    top: 50%;
}
.trigger span:nth-child(3){
    top: 100%;
}
.btn.active .trigger span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
}
.btn.active .trigger span:nth-child(2){
    opacity: 0;
}
.btn.active .trigger span:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
}

.gnb{
    text-align: center;
}
.gnb li{
    display: inline-block;
}
.gnb li a{
    position: relative;
    display: block;
    padding: 0 30px;
    line-height: 50px;
    font-weight: 400;
}

.category_wrap{
    display: none;
    position: absolute;
    z-index: 33;
    background: #fff;
    width: 1200px;
    border-top: 1px solid #ddd;
    margin-left: 160px;
}
/* .category_wrap.open{
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
    border: 1px solid #ccc;
    border-top: none;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    animation-name: dropdown;
    animation-duration: 0.5s;
}

@keyframes dropdown{
    0%{
        height: 0;
    }
    100%{
        height: 230px;
    }
} */
.inner_cate{
    position: relative;
}
.tab_wrap{
    float: left;
}
.tab_list{
    display: block;
    margin-left: 300px;
    height: 230px;
}
.list_box{
    margin-top: 10px;
}
.list_box ul{
    text-align: center;
    float: left;
    display: block;
    margin-left: 25px;
    margin-right: 38px;
}
.list_box ul:nth-child(3){
    margin-left: 15px;
}
.list_box ul:nth-child(4){
    margin-left: 30px;
}
.list_box ul:nth-child(5){
    margin-left: 44px;
    margin-right: 36px;
}
.list_box ul li a{
    font-size: 14px;
    line-height: 35px;
    color: #333;
    font-weight: 400;
}
.list_box ul li a:hover{
    color: tomato;
}


/* Container */
.container{
    overflow: hidden;
}
.page_title_area{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.page_title{
    padding: 50px 0 60px;
    text-align: center;
}
.page_title h2{
    font-size: 32px;
    font-weight: 500;
    color: #333;
}

.page_cont_area{
    width: 1200px;
    margin: 0 auto;
    /* padding-bottom: 50px; */
    display: block;
}
.page_cate{
    border-top: 2px solid #000;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.page_cate ul{
    margin: 0 auto;
    display: table;
    width: 50%;
    table-layout: fixed;
}
.page_cate ul li{
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 14px;
}
.page_cate ul li:hover,
.page_cate ul li.active{
    color: tomato;
}
.page_cate ul li + li::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 15px;
    background: #ddd;
    box-sizing: border-box;
    margin-top: 1px 0;
}

/* Page Items */
.page_items{
    margin-top: 30px;
}

/* Page Slide */
.page_slide{
    width: 1200px;
    height: 500px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}
.page_slide input[name=slide]{
    display: none;
}

.best_slide{
    position: relative;
    width: 1200px;
    height: 450px;
    overflow: hidden;
}

.slide_title{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.slide_title h2{
    font-weight: 500;
    font-size: 24px;
    margin-left: 20px;
}

.inner_slide{
    width: 3600px;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    transition: 0.7s;
}

.slide_box ul{
    display: block;
}
.slide_box ul li{
    float: left;
    display: block;
    width: 200px;
    margin: 0 20px;
}


/* Slide Item Detail */
.box{
    overflow: hidden;
}
.thumb_img a img{
    display: block;
    width: 200px;
}
.desc{
    position: relative;
    width: 200px;
    display: block;
    margin-top: 5px;
}
.desc h2{
    font-size: 18px;
    font-weight: 400;
}
.desc .about_item{
    font-size: 14px;
    font-weight: 400;
}
.desc .about_item p{
    padding-top: 3px;
    font-size: 13px;
    font-weight: 300;
}


/* Slide Btn */
.slide_btn{
    text-align: center;
    margin-top: 10px;
}
.slide_btn label{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ddd;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
}

input[id=tab1]:checked ~ .best_slide .inner_slide{
    left: 0;
}
input[id=tab2]:checked ~ .best_slide .inner_slide{
    left: -1200px;
}
input[id=tab3]:checked ~ .best_slide .inner_slide{
    left: -2400px;
}

input[id=tab1]:checked ~ .slide_btn label[for=tab1],
input[id=tab2]:checked ~ .slide_btn label[for=tab2],
input[id=tab3]:checked ~ .slide_btn label[for=tab3]{
    background: tomato;
}


/* Sort */
.page_sort{
    margin-top: 60px;
    padding-bottom: 15px;
    text-align: right;
    overflow: hidden;
}
.page_sort.bd{
    border-bottom: 1px solid #ddd;
}
.page_sort>div{
    float: right;
}

.sort.btn{
    font-size: 14px;
    font-weight: 400;
    position: relative;
}
.sort.btn>input[name=sort]{
    /* position: absolute;
    top: 0;
    left: 0; */
    display: none;
}
.sort.btn>input:checked + label{
    color: #000;
    font-weight: 500;
}
.sort.btn label{
    position: relative;
    padding: 0 10px;
    cursor: pointer;
}


/* Item List */
.page_item{
    position: relative;
}
.page_item>ul{
    padding: 0 20px;
}
.page_item>ul li{
    width: 250px;
    margin: 30px 20px;
    /* margin-bottom: 10px; */
    float: left;
    display: block;
}
.page_item ul li .box{
    overflow: hidden;
}
.page_item ul li .box .thumbnail{
    /* position: relative;
    width: 250px; */
}
.page_item ul li .box .thumbnail a img{
    width: 250px;
    display: block;
}

.page_item ul li .box .desc{
    position: relative;
    display: block;
    width: 250px;
    margin-top: 5px;
}

.desc .about_item .color{
    margin-top: 8px;
    display: block;
    margin-bottom: 5px;
    margin-right: 10px;
}
.desc .about_item .color span{
    transition: 0.3s;
    width: 7px;
    height: 7px;
    display: inline-block;
    margin-right: 3px;
    padding: 2px;
    cursor: pointer;
}

.desc .about_item .color span:nth-child(1){
    background: tomato;
    border: 1px solid tomato;
}
.desc .about_item .color span:nth-child(2){
    background: sandybrown;
    border: 1px solid sandybrown;
}
.desc .about_item .color span:nth-child(3){
    background: royalblue;
    border: 1px solid royalblue;
}
.desc .about_item .color span:nth-child(4){
    background: plum;
    border: 1px solid plum;
}


/* Footer */
.footer{
    margin-top: 100px;
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    box-sizing: border-box;
    padding-bottom: 30px;
    overflow: hidden;
}
.footer>div:first-child{
    border-bottom: 1px solid #ddd;
}
.footer_tab{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    line-height: 50px;
}
.footer_menu{
    padding-top: 20px;
    display: inline-block;
    line-height: 1;
}
.footer_menu li{
    float: left;
}
.footer_menu li + li{
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #ddd;
}

.footer_wrap{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    font-size: 13px;
}
.footer_wrap div{
    float: left;
    margin-right: 30px;
}
.footer_wrap .info{
    width: 300px;
}
.footer_wrap .account_info,
.footer_wrap .cs_center{
    width: 200px;
}

.footer_wrap .account_info h3,
.footer_wrap .cs_center h3{
    color: tomato;
    margin-bottom: 10px;
}
.footer_wrap .cs_center strong{
    font-size: 20px;
    line-height: 20px;
}
.footer_wrap .cs_center p{
    /* margin-top: 5px; */
}